* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4;
    background: #222222;
    color: #333333;
  }
  
  .container {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 68rem;
    width: 100%;
  }
  
  .header .nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    margin: 0 auto;
  }
  .header .nav-logo {
    font-family: inherit;
    line-height: inherit;
  }
  .header .nav-logo__link img{
    font-size: 1.7rem;
    font-weight: 700;
    color: #006aff;
    width: 150px;
    height:  100px;
  }
  .header .nav-menu__item {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
  }
  .header .nav-menu__link {
    margin: 0 2rem 0 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
  }
  .header .nav-menu__link:hover {
    color: #F0CD01;
  }
  .header .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #222222;
    margin-bottom: 20px;
  }
  .header .hero-text__main {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 700;
    line-height: inherit;
    text-transform: uppercase;
    color: #F0CD01;
  }
  .header .hero-text__subs {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    margin: 1rem 0 3rem 0;
  }
  .header .hero-text__btn {
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    color: #222222;
    background: #F0CD01;
    border: none;
    outline: none;
    border-radius: 2px;
  }
  .header .hero-image__main {
    width: 100%;
    height: auto;
  }
  
  .main .about {
    background: #fafafa;
    margin-top: 2rem;
  }
  .main .about .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
  .main .about-image__main {
    width: 80%;
    height: auto;
  }
  .main .about-text__main {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: inherit;
    text-transform: uppercase;
    color: #F0CD01;
  }
  .main .about-text__subs {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #333333;
    margin: 1rem 0 0 0;
  }
  .main .service {
    margin-top: 2rem;
    text-align: center;

  }
  .main .service h2{
    color: #F0CD01;
  }
  .main .service .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
  .main .service .card {
    padding: 2rem;
    background: transparent;
    color: #fff;
    border-radius: 2px;
    border: 1px solid white;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.252), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 400px;
  }
  .main .service .card-image {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
  }
  .main .service .card-image img {
    max-height: 10rem;
    height: 100%;
    width: auto;
  }
  .main .service .card-text {
    margin-top: 1.5rem;
  }
  .main .service .card-text__title {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: inherit;
    text-transform: uppercase;
    color: #F0CD01;
    margin-bottom: 1rem;
  }
 

  .footer {
    padding: 3rem 0;
    background: #333333;
    font-family: inherit;
    color: #fff;
    text-align: center;
  }
  .footer .footer-img{
    height:200px;
    width: auto;
  }
  .footer .container {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    
  }
  .footer .container .footer-phone a{
    color: #F0CD01;
    text-decoration: none ; 

  }
  .footer .footer-copy{
    margin-top: 50px;
  }
  .footer-menu__item {
    align-items: right;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
  }
  .footer-menu__link {
    margin: 0 2rem 0 0;
    font-family: inherit;
    font-size: 1rem;
    color: #ffffff;
  } 
  
  @media only screen and (max-width: 600px) {
    .header .nav {
      flex-direction: column;
      justify-content: center;
    }
    .header .hero {
      grid-template-columns: 1fr;
      justify-content: center;
      /* margin-top: 2rem; */
    }
    .header .hero-text {
      order: 2;
      font-size: 1.2rem;
    }
  
    .main .about .container {
      grid-template-columns: 1fr;
      justify-content: center;
    }
    .main .about-image img {
      width: 100%;
      height: auto;
    }
    .main .service .container {
      grid-template-columns: 1fr;
      justify-content: center;
    }
    .main .service .card-text__subs{
        font-size: 0.8rem;

    }
    .footer .footer-img{
        width: 150px;
        height: 100px;
    }
    .footer h3{
        font-size: 0.8rem;
    }
    .footer .container {
      flex-direction: column;
      justify-content: center;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .footer-menu__item {
      display: flex;
      flex-direction: row;
      flex: 1;
      flex-basis: auto;
      margin-bottom: 2rem;
    }
    .footer-menu__link {
      margin: 0 1rem 0 1rem;
      font-family: inherit;
      color: #ffffff;
    }
    .footer-menu__link  span{
        display: none;
    }
  }